
<!DOCTYPE html>
<html>
<head>
    <title>PokemonGo - Pokemon</title>
    <meta name="keywords" content="Pokemon, PokemonGo" />
    <meta charset="UTF-8" />
    <meta name="author" content="Tyler Stark">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href='./styles.css' rel='stylesheet' type='text/css'>
    <link href='./sprites.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
</head>
<body>
<main class="pokemonGoApp" ng-app="pokemonGoPokemon">
    <header>
        <h1>PokemonGo - Pokemon Table</h1>
        <a href="https://www.reddit.com/r/pokemongo/comments/4t6egi/pokemon_go_decoded_game_master_protobuf_file_v01/">
            Data abstracted from here
        </a>
    </header>
    <section ng-controller="pokemonGoPokemonCtr" ng-cloak>
        <div class="spinner"></div>
        <div class="pokemonGoApp-pokemonFilters">
            <input type="text" ng-model="pokemonNameFilter" placeholder="Filter by Pokemon" class="pokemonGoApp-pokemonNameFilter" />
        </div>
        <table class="pokemonGoApp-table">
            <thead class="pokemonGoApp-tableHead">
                <tr class="orderByRow orderBy-{{pokemonOrder}} {{orderDescending ? 'isDescending' : ''}}">
                    <td class="pokemonGoApp-tableHead-id" ng-click="changeOrder('id')"><span>#</span></td>
                    <td class="pokemonGoApp-tableHead-name" ng-click="changeOrder('name')"><span>Name</span></td>
                    <td class="pokemonGoApp-tableHead-candy" ng-click="changeOrder('candy')"><span>Candy Required</span></td>
                    <td class="pokemonGoApp-tableHead-captureRate" ng-click="changeOrder('captureRate')"><span>Capture Rate</span></td>
                    <td class="pokemonGoApp-tableHead-fleeRate" ng-click="changeOrder('fleeRate')"><span>Flee Rate</span></td>
                    <td class="pokemonGoApp-tableHead-attack" ng-click="changeOrder('attack')"><span>Attack</span></td>
                    <td class="pokemonGoApp-tableHead-defense" ng-click="changeOrder('defense')"><span>Defense</span></td>
                    <td class="pokemonGoApp-tableHead-stamina" ng-click="changeOrder('stamina')"><span>Stamina</span></td>
                </tr>
            </thead>
            <tbody class="pokemonGoApp-tableBody">
                <tr ng-repeat="pokemon in pokemonList | filter:pokemonNameFilter | orderBy:pokemonOrder:orderDescending"
                    class="pokemonGoApp-tableRow">
                    <td><i class="pokemon-icon pkmn-{{pokemon.id}}">&nbsp;</i></td>
                    <td>{{pokemon.name}}</td>
                    <td>{{pokemon.candy}}</td>
                    <td>{{pokemon.captureRate}}</td>
                    <td>{{pokemon.fleeRate}}</td>
                    <td>{{pokemon.attack}}</td>
                    <td>{{pokemon.defense}}</td>
                    <td>{{pokemon.stamina}}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer class="pokemonGoApp-footer">
        <a href="https://gist.github.com/ryankane/3b3d8c537bc898dae1e65b61d0d7efe9">Pokemon Data Source</a>
        <a href="http://pldh.net/">Background Image by Teej/TopHat (copyright PLDH.net)</a>
    </footer>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="./scripts/app.js"></script>
</body>
</html>
